@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --color01: #65ebd6; /* turquoise */
    --color02: #83e1ad; /* medium-aquamarine */
    --color03: #3ddc84; /* emerald */
    --color04: #2fa866; /* go-green */
    --color05: #1a5c37; /* hunter-green */
    --color06: #063d1e; /* british-racing-green */

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
}

body {
    background-color: var(--color02);
    font-family: var(--fonte-padrão);
}

header {
    background-image: linear-gradient(to top, var(--color06), var(--color04));
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

header > h1 {
    font-family: var(--fonte-destaque);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    font-size: 3em;
    font-weight: normal;
    padding: 20px;
}

header > h2 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: block;
    max-width: 600px;
    margin: 0px auto 0px auto;
    padding: 20px;
}

nav {
    background-color: var(--color06);
    padding: 10px 0px 10px 0px;
}

nav > a {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--color04);
    transition-duration: 0.8s;
}

main {
    max-width: 1000px;
    min-width: 320px;
    background-color: white;
    margin: 0px auto 20px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-android);
    font-size: 2em;
    color: var(--color06);
    margin: 0px auto 0px auto;
    width: 95%;
    padding: 5px 0px 5px 0px;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--color05);
    margin: 0px auto 0px auto;
    padding: 0px 5px 0px 5px;
    width: 95%;
    background-image: linear-gradient(to right, var(--color02), white);
}

main p {
    width: 95%;
    text-align: justify;
    margin: 0px auto 0px auto;
    padding: 10px 0px 10px 0px;
    line-height: 1.5em;
}

main strong {
    color: var(--color06);
}

main a::after {
    content: "\1F517";
}

main a:hover {
    color: var(--color05);
    text-decoration: solid underline;
}

article a {
    color: var(--color06);
    padding: 5px;
    background-color: var(--color03);
    text-decoration: none;
    font-weight: bold;
}

img {
    display: block;
    width: 95%;
    margin: 0px auto 0px auto;
}

#bugdroid {
    max-width: 300px;
}

@media screen and (max-width: 800px) {
    #irina {
        max-width: 400px;
    }

    #dandroid {
        max-width: 434px;
    }
}

article div {
    background-color: var(--color06);
    width: 100%;
}

iframe {
    display: block;
    width: 95%;
    padding: 20px 0px 20px 0px;
    aspect-ratio: 16/9;
    margin: auto;
}

aside {
    background-color: var(--color03);
    margin: 10px auto 10px auto;
    width: 95%;
    border-radius: 10px;
}

aside h3 {
    background-color: var(--color05);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

aside a {
    background-color: transparent;
}

ul {
    columns: 2;
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    margin: 10px auto 10px auto;
    width: 95%;
}

@media screen and (max-width: 512px) {
    ul {
        columns: 1;
    }
}

footer {
    background-color: var(--color06);
    color: white;
    padding: 5px;
}

footer > p {
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}